@import "tailwindcss";
@font-face {
    font-family: "pricedown";
    src: url(/pricedown.otf);
}

@font-face {
    font-family: "Halevetica";
    src: url(/HelveticaNowDisplay-Regular.ttf);
}

html,body{
    width: 100%;
    height: 100%;
    font-family: "pricedown";
}